---
import Layout from "@layouts/Layout.astro";

export const getStaticPaths = (async () => {
  return {
    params: { title:'404'},
  }
})
---

<Layout title="" desc="404">
  <main>
    <div>List 404</div>
  </main>
</Layout>
