---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getCollection } from "astro:content";
import { getLangFromUrl , useTranslatedPath} from "@i18n/utils";

const allList = await getCollection("list");
const lang = getLangFromUrl(Astro.url);
// const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---
<!-- <meta http-equiv="refresh" content="0;url=/en/" /> -->
<Layout title="Chinese words" desc="Chinese word classification table" keywords="Chinese Vocabulary Learning Assistant Chengyu 成語 成语 chengyu four-character idioms HSK1 characters idiomatic">
  <main>
    <h1>Step by Step,<span class="text-gradient">Master Chinese Vocabulary</span> with Us!</h1>
    <p class="instructions">
		Welcome to Chinese Learning Assistant! Our website is dedicated to helping foreigners effortlessly learn Chinese words and vocabulary. Whether you're a beginner or looking to expand your vocabulary, we provide rich resources and interactive tools for you. With our engaging and effective learning methods, you'll be able to grasp more Chinese vocabulary and improve your language skills. Join us now and embark on your journey to mastering Chinese!
    </p>
    <h2>Chinese word classification table</h2>
    <ul role="list" class="link-card-grid">
      {
        allList.map((item) => (
          <Card
            href={translatePath(`/list/${item.id}`,lang)}
            title={`${item.data.title}`}
            body={item.data.desc}
          />
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
  div,p {
    font-family: Nunito ExtraLight;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
