---
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";
import { getCollection } from "astro:content";

const allList = await getCollection("list");
---

<Layout title="Welcome to Astro." desc="">
  <main>
    <h1>一步一步，<span class="text-gradient">中文词汇</span>带你通!</h1>
    <p class="instructions">
      欢迎来到汉语学习助手！我们的网站致力于帮助外国朋友轻松学习中文单词和词汇。无论你是初学者还是想要提高你的词汇量，我们都为你提供了丰富的资源和互动工具。通过我们的有趣和有效的学习方法，你将能够掌握更多中文词汇，提高你的语言能力。赶快加入我们，开始你的中文学习之旅吧！
    </p>
    <!-- <p class="instructions">
			To get started, open the directory <code>src/pages</code> in your project.<br />
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
		</p> -->
    <h2>中文词分类表</h2>
    <ul role="list" class="link-card-grid">
      {
        allList.map((item) => (
          <Card
            href={`/${item.collection}/${item.id}`}
            title={`${item.data.title}`}
            body="Learn how Astro works and explore the official API docs."
          />
        ))
      }
      <Card
        href="https://astro.build/integrations/"
        title="Integrations"
        body="Supercharge your project with new frameworks and libraries."
      />
      <Card
        href="https://astro.build/themes/"
        title="Themes"
        body="Explore a galaxy of community-built starter themes."
      />
      <Card
        href="https://astro.build/chat/"
        title="Community"
        body="Come say hi to our amazing Discord community. ❤️"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
