---
// import { getLangFromUrl } from "@i18n/utils";
import LanguagePicker from "./LanguagePicker.astro";

// const lang = getLangFromUrl(Astro.url);
---

<header>
  <nav class="md:relative lg:top-0 border-b-[1px]">
    <div class="flex flex-row items-center justify-between py-4">
      <div class="flex flex-row items-center">
        <a aria-label="Go back to HomePage" class="ml-2 mr-1 md:text-xl font-bold" href="/">
          <img width="24" height="24" src="/logo-2x.png" alt="">
        </a>
        <div class="hidden md:block">
          <div>
            <span class="hover:bg-[rgb(var(--accent-light)) 30%] rounded p-2">
              <a href={`/`}>Home</a>
            </span>
          </div>
        </div>
      </div>
      <div class="flex flex-row items-center">
        <LanguagePicker />
      </div>
    </div>
  </nav>
</header>
