---
import { languages } from '../i18n/ui';


const url = Astro.url
---
<select aria-label="language" name="language" class=" language-select bg-transparent">
  {Object.entries(languages).map(([lang, label]) => (
    <option value={`/${lang}/${url}`}>
      {label}
    </option>
  ))}
</select>