---
interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;
---

<a class="block hover:text-blue-700 m-2 md:text-xl" href={href}>
  <h2 class="font-serif">
    {title}
  </h2>
</a>

<style>
  h2 {
    margin: 0;
    font-size: 1.25rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
</style>
