---
interface Props {
  type: string;
  desc: string;
}
import Audio from './Audio.astro';
const { type, desc } = Astro.props;
---
  <div data-desc={desc}  class="flex items-center space-x-2 words-desc md:text-xl bg-gray-100  p-2 text-blue-700">
    <h3>{type} - {desc || ""}</h3> <Audio word={desc}/>
  </div>


<script>
  const wordsDesc = document.querySelectorAll('h3.words-desc')
  wordsDesc.forEach((descElement)=>{
    descElement.addEventListener('click', (event)=>{
      const element = event.target as HTMLElement
      const desc = element.dataset.value
      speechSynthesis.speak(new SpeechSynthesisUtterance(desc));
    })
  })
</script>



