---
interface Props {
  word: string;
  index: number
}

const { word ,index } = Astro.props;

// const data = await fetch(
//   `https://cdn.jsdelivr.net/npm/hanzi-writer-data@2.0/${encodeURI(word)}.json`
// );
// const parseData = data.json();
// const writer = HanziWriter.create('character-target-div', word , {
//   width: 100,
//   height: 100,
//   padding: 5
// })
// console.log(parseData);
---

<div data-word={word} class="flex flex-col items-center">
  <div class="text-xl">{word}</div>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="100"
    height="100"
    id="grid-background-target"
    class="word cursor-pointer"
    data-word={word}
  >
    <line x1="0" y1="0" x2="100" y2="100" stroke="#fca5a5"></line>
    <line x1="100" y1="0" x2="0" y2="100" stroke="#fca5a5"></line>
    <line x1="50" y1="0" x2="50" y2="100" stroke="#fca5a5"></line>
    <line x1="0" y1="50" x2="100" y2="50" stroke="#fca5a5"></line>
    <line x1="0" y1="0" x2="0" y2="100" stroke="#fca5a5"></line>
    <line x1="0" y1="0" x2="100" y2="0" stroke="#fca5a5"></line>
    <line x1="100" y1="100" x2="100" y2="0" stroke="#fca5a5"></line>
    <line x1="100" y1="100" x2="0" y2="100" stroke="#fca5a5"></line>
  </svg>
</div>

<script>
  import HanziWriter from "hanzi-writer";

  const wordElement = document.getElementById("grid-background-target");
//   console.log(wordElement)
//   const wordE = document.getElementsByTagName('word')[index]
//   const word = wordElement.dataset.word;
  const writer = HanziWriter.create("grid-background-target", word, {
    width: 100,
    height: 100,
    padding: 5,
    showOutline: true,
    strokeColor: "#fff",
  });
  console.log('writer', writer)
</script>
