---
import Layout from "../../layouts/Layout.astro";
import WordWriter from "../../components/WordWriter.astro";
// import HanziWriter from 'hanzi-writer'
// import { Debug } from "astro:components";
// import { allword } from "../../content/allFile";
const { word } = Astro.params;

export function getStaticPaths() {
  // return allword.map((item) => {
  //   return { params: { word: item } };
  // });
  return { params: { word: '爱好' } };
}
---

<Layout title={word}>
  <main>
    <div>{word}</div>
    <div class="flex flex-row justify-center space-x-4">
      {word.split("").map((item, index) => <WordWriter word={item} index={index} />)}
    </div>
  </main>
</Layout>

<!-- <style>
  #character-target-div {
    background-color: pink;
  }
</style> -->
